.mainCharactId {
  display: flex;
  width: 100%;
  // padding: 20px;
  // height: 1000px;
  overflow-y: scroll;
}

.IdContainer {
  font-family: "Hanalei Fill";
}
.charactId {
  width: 100%;
}
.upperHero {
  font-family: "Marvel", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  flex-direction: column;
}
.heroDescription {
  color: white;
}
.block {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  justify-content: space-between;
  background-color: white;
}
.blockPic {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.itemTitle {
  font-size: 20px;
  color: red;
}
.IdContainer {
  background-color: black;
}
