.charactContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.charactPic {
  display: flex;
  justify-content: center;
  height: 50%;
}
#root {
  background-color: black;
}
.realInput {
  width: 300px;
  height: 80px;
  display: flex;
  font-size: 20px;
  text-align: center;
}
.charactInput {
  font-size: 20px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.charactDescription {
  margin-top: 20px;
  text-decoration: none;
}
.characLine {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-bottom: 20px;
  border-radius: 10px;
  justify-content: space-between;
  border: solid 1px black;
  background-color: white;
}

.caractName {
  font-size: 20px;
  color: red;
}
.realPic {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.linkcharac {
  text-decoration: none;
}
.upperLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  justify-content: space-between;
}
