.charactContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  padding: 10px;
}

.charactPic {
  width: 150px;
  display: flex;
  justify-content: center;
}

.charactDescription {
  margin-top: 20px;
}
.characLine {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  border: 2px solid #202020;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  justify-content: space-between;
  border-radius: 20px;
}
.caractName {
  font-size: 20px;
  color: red;
}
.realPic {
  border-radius: 20px;
}
.linkcharac {
  text-decoration: none;
}
