.home {
  color: white;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://static.posters.cz/image/1300/affiches-et-posters/marvel-classic-cover-i71854.jpg);
}
.title {
  text-align: center;
  color: black;
  background-color: #f3031b;
  border-radius: 10px;
}

.homeContainer {
  display: flex;
  align-items: center;
  border: 10px solid black;
  background-color: black;
  border-radius: 20px;
}
.homeContainerB {
  display: flex;
  align-items: center;
  border: 10px solid black;
  background-color: black;
  border-radius: 20px;
  margin-bottom: 20px;
}

.chractB {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .home {
    color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    h1 {
      display: none;
    }
  }

  .homeContainer {
    display: flex;
    align-items: center;
    border: 0px solid black;
    border-radius: 0;
    width: 0;
  }
  .homeContainerB {
    display: flex;
    align-items: center;
    border: 0px solid black;
    border-radius: 20px;
    width: 0;
    margin-left: 10px;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chractB {
    margin-bottom: 0;
  }

  .comicsButton {
    width: 0;
  }
}
