.scroll-top {
  position: fixed;
  bottom: 2em;
  right: 4em;
  background-color: transparent;
}
.top {
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
}

/* @media (max-width: 900px) {
    .scroll-top {
      display: none;
    }
  } */
