.Header {
  display: flex;
  height: auto;
  background-color: #f3031b;
  justify-content: center;
  justify-content: space-around;
  border-bottom: 20px solid black;
}
img {
  width: 400px;
  height: 150px;
}
.leftButton {
  display: flex;
  justify-content: center;
}
.comicsButton {
  display: flex;
  align-items: center;
}
.comicsB {
  background-color: #273ea3;
}
.charactB {
  background-color: #69ae55;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  border-radius: 25px;
  background-color: #202020;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 20px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
.rightButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
